.Monexpérience {
  color: purple;
}
.stagiaire {
  color: blue;
}
p {
  font-size: 80%
}
h1 {
  font-size: 130%
}
h1 em {
  font-size: 170%
}
li {
  font-weight: bold;
}
.code {
  font-style: italic;
}
.prénom {
  text-align: center;
}
body {
  font-family: avenir next, sans-serif ;
}
.ligneintro {
  text-align: center;
}
