.Monexpérience {
  color: purple;
}
.stagiaire {
  color: blue;
}
p {
  font-size: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h1 em {
  font-size: 1.7em;
}
li {
  font-weight: bold;
}
.code {
  font-style: italic;
}
.prénom {
  text-align: center;
}
body {
  font-family: avenir next, sans-serif ;
}
.ligneintro {
  text-align: center;
}
body {
  background-color: grey;
}
